POSTGRES_HOST=postgres
POSTGRES_USERNAME=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_PORT=5432
POSTGRES_DB=open_asm
POSTGRES_SSL=false
PORT=6276
REDIS_URL=redis://:password@redis:6379/0
REDIS_PASSWORD=change_me
GEO_IP_URL=geo-ip:4360
OASM_CLOUD_APIKEY=change_me